*.bbl
*.dvi
*.nav
*.out
*.snm
*.aux
*.log
*.pdf
*.toc
*.vrb
# Preview
_region_.prv/
_region_.tex
prv_dqc1_presentation.fmt
# Haskell diagrams
diagrams/
haskell/
images/
# Latex preview
ltxpng/
# specific org-mode generated tex files
computing_the_jones_polynomial_in_dqc1_beamer.tex
main_concepts.tex
# test scripts output
pdf_gen_out.txt
